<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTBank</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/validationStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/error.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .dropend:hover > ul.dropdown-menu {
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-light border-bottom box-shadow pb-0 pt-0 ps-3 pe-4">
                <a class="navbar-brand" asp-controller="Home" asp-action="WelcomeIndex">Смены</a>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                    @await Component.InvokeAsync("Shift", new { shiftId = ViewData["shiftId"] })
                        @if (User.IsInRole("admin"))
                        {
                            <li class="dropdown m-auto">
                                <a class="nav-link fs-5 dropdown-toggle text-black" id="navbarDropdownMain" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Разработчик
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMain">
                                    <li class="dropdown dropend">
                                    <a class="dropdown-toggle dropdown-item" role="button" data-bs-toggle="dropdown" aria-expanded="false">Задачи</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item text-black" asp-controller="Task" asp-action="CreateTask">Добавить задачу</a></li>
                                        <li><a class="dropdown-item text-black" asp-controller="Task" asp-action="AdminShift">Редактировать задачи</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropend">
                                    <a class="dropdown-toggle dropdown-item" role="button" data-bs-toggle="dropdown" aria-expanded="false">Смены</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item text-black" asp-controller="Shift" asp-action="CreateShift">Добавить смены</a></li>
                                            <li><a class="dropdown-item text-black" asp-controller="Shift" asp-action="ListShift">Редактировать смены</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item text-black" asp-controller="User" asp-action="ListUser">Список пользователей</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-black" asp-controller="Task" asp-action="JournalAction">Журнал</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="text-end dropdown">
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <a class="nav-link fs-5 dropdown-toggle text-black" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Аккаунт
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item text-black" asp-controller="User" asp-action="EditUser">Профиль</a></li>
                            <li><a class="dropdown-item text-black" asp-controller="User" asp-action="EditPassword">Изменить пароль</a></li>
                            <li><a class="dropdown-item text-black" asp-controller="User" asp-action="SignOut">Выйти</a></li>
                        </ul>
                    }
                </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>