<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTBank</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/validationStyle.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        @RenderBody()
        <hr  class="mt-5"/>
        <div class="text-center">
            <p>@DateTime.Now.Year - &copy;TheLidren</p>
        </div>
    </div>
</body>
</html>