
@foreach (var item in ViewBag.Shifts)
{
    if (item.Id == int.Parse(ViewData["shiftId"].ToString()))
    {
        <li class="nav-item bg-info rounded">
            <a class="nav-link fs-5 text-dark" asp-controller="Task" asp-action="ListTask" asp-route-shiftId="@item.Id">@item.Name</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link fs-5 text-dark" asp-controller="Task" asp-action="ListTask" asp-route-shiftId="@item.Id">@item.Name</a>
        </li>
    }
}
